.about {
  padding: 0 13.3333vw;
  padding-left: 14vw;
}
.about .right-line .circle-big {
  margin: 0 5px 0 10px;
}
.about .about-text p {
  color: #fff;
  font-size: 3.2vw;
}
.about .about-pic {
  margin-top: 5.3333vw;
}
.about .about-pic img {
  width: 72vw;
  height: 40vw;
}
.product {
  padding: 0 5.3333vw;
  margin-top: 8vw;
}
.product .right-line .circle-big {
  margin: 0 5px 0 10px;
}
.product .about-title {
  padding-left: 8.6667vw;
}
.product .product-pic-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product .product-pic-box .pic-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product .product-pic-box .pic-box img {
  width: 38.2667vw;
  height: 23.3333vw;
}
.product .product-pic-box .pic-box span {
  color: #fff;
  line-height: 8.8vw;
  font-size: 3.2vw;
}
.story {
  padding: 0 6.6667vw;
  margin-top: 8vw;
}
.story .about-title {
  margin-left: 33px;
}
.story .story-pic img {
  width: 87.0667vw;
  height: 26vw;
}
.story .story-pic img:not(:last-child) {
  margin-bottom: 4.4vw;
}
.culture {
  padding: 6.6667vw;
  padding-bottom: 3.2vw;
}
.culture .right-line .circle-big {
  margin: 0 5px 0 10px;
}
.culture .culture-text {
  padding: 0 8vw;
  font-size: 3.2vw;
  color: #fff;
}
.culture .culture-pic img {
  width: 87.0667vw;
  height: 39.3333vw;
  margin-top: 4vw;
}
.swiper-container {
  width: 100vw;
  height: 51.7333vw;
}
.swiper-container img {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-pagination-bullet-active {
  background-color: #fff;
}
